input,li,button{
  font-family: Verdana;
}
#form {
		background: rgba(0, 0, 0, 0.15);
			padding: 0.25rem;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			height: 3rem;
			box-sizing: border-box;
			backdrop-filter: blur(10px);
      font-size: 20px
		}

		#message {
			border: none;
			padding: 0 1rem;
			flex-grow: 1;
			border-radius: 2rem;
			margin: 0.25rem;
		}

		#message:focus {
			outline: none;
		}

		#form>button {
			background: #333;
			border: none;
			padding: 0 1rem;
			margin: 0.25rem;
			border-radius: 3px;
			outline: none;
			color: #fff;
		}